body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(36, 125, 214, 0.2);
}

h2 {
    text-align: center;
}

input {
    width: 90%;
    padding: 7px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.sexe {
    margin-top: 15px;
}

button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4c8eaf;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 70px;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}
